<!doctype html>
<html lang='en'>
	<head>
		<!-- check out this important image -> https://ring.basil.cafe/important-image.webp -->
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<title>App Icon Webring</title>
	</head>
	<body>
		<slot />
	</body>
</html>
