---
import App from '../App.astro';
---

<App id='about'>
	<h1>App Icon Webring</h1>

	<p>
		This is a webring for those who have an "app icon" artwork. These
		originated in a private community, and are based on art done by one
		<a href='https://latte.party'>valerie contintail</a> (check out their art,
		it's really good!). I, <a href='https://basil.cafe'>Basil</a>, made a
		rendition of one of valerie's artworks as an app icon, and then made a
		few other ones for some of the folks there, and then kept making them
		and now we're here.
	</p>

	<p>
		If you'd like one of your own (and to perhaps join this webring), feel
		free to <a href='https://basil.cafe/contact'>message me</a>!
	</p>
</App>

<style is:global>
	#about {
		background-color: white;
		padding: 8px 16px;
	}
</style>
